<% include ../partials/header.ejs %>

<section class="container">
  <form action="/contacts" method="post" class="form-add">
    <input
      type="text"
      name="contact[nome]"
      class="form-control"
      placeholder="Enter name"
      autofocus
      required>

    <input
      type="email"
      name="contact[email]"
      class="form-control"
      placeholder="Enter e-mail"
      required>

    <input
      type="tel"
      name="contact[mobile]"
      class="form-control"
      placeholder="Enter mobile"
      required>

    <button type="submit" class="btn btn-primary btn-block">
      Save
    </button>
  </form>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>E-mail</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% if (contacts.length == 0) { %>
        <tr>
          <td colspan="4" class="text-center">No contacts</td>
        </tr>
      <% } else { %>
        <% contacts.forEach(function(contact, index) { %>
          <tr>
            <td><%- contact.nome %></td>
            <td><%- contact.email %></td>
            <td>
              <span id="notify_<%- contact.email %>">Offline</span>
            </td>
            <td>
              <a href="contacts/<%- index %>">Detalhes</a><br>
              <a href="/chat" id="chat_<%- contact.email %>">Chat</a>
            </td>
          </tr>
        <% }) %>
      <% } %>
    </tbody>
  </table>
</section>

<% include ../partials/notify.ejs %>
<% include ../partials/logout.ejs %>
<% include ../partials/footer.ejs %>
