<% include ../partials/header.ejs %>

<section class="container show">
  <form action="/contacts/<%- contact._id %>?_method=DELETE" method="post" class="form-show well form-inline">
    <table class="table table-striped table-hover">
      <tbody>
        <tr>
          <th>Full Name</th>
          <td><%- contact.nome %></td>
        </tr>
        <tr>
          <th>E-mail</th>
          <td><%- contact.email %></td>
        </tr>
        <tr>
          <th>Mobile</th>
          <td><%- contact.mobile %></td>
        </tr>
        <tr>
          <th>Status</th>
          <td>Offline</td>
        </tr>
      </tbody>
    </table>

    <div>
      <a href="/contacts" class="btn btn-secondary">Back</a>
      <a href="/contacts/<%- contact._id %>/edit" class="btn btn-primary pull-right">Edit</a>
      <button type="submit" class="btn btn-danger pull-right">Delete</button>
    </div>
  </form>
</section>

<% include ../partials/logout.ejs %>
<% include ../partials/footer.ejs %>
